{{#if venue.locked}}
<span class="lockedline locked"><i class="i-lock" title="This Venue is Locked to Edits by non-SU8s" data-placement="bottom" rel="tooltip"></i></span>
{{/if}}
{{#if venue.verified}}
<span class='verifiedline verified'><i class='i-ok-circled' title='Verified Venue' data-placement='bottom' rel='tooltip'></i></span>
{{/if}}
{{#if venue.private}}
<span class='privateline private'><i class='i-eye-off' title='Private Venue' data-placement='bottom' rel='tooltip'></i></span>
{{/if}}

<a class='venuename' target="_blank" href="https://foursquare.com/venue/{{venue.id}}/">{{venue.name}}</a> <span class="venuestatus">
  {{#if venue.deleted}}
  (Deleted)
  {{/if}}
  {{#if venue.closed}}
  (Closed)
  {{/if}}
  {{#if venue.private}}
  (Private)
  {{/if}}
  {{#if venue.merged}}
  (merged)
  {{/if}}
</span>
<span class="label ratio {{ratioClass}}" title='Ratio of checkins to unique visitors. See the FAQ for more info.'>{{ratioText}}</span>
<span class='distance'> {{#if distance}} [{{round distance}} m] {{/if}} </span>
{{#if venue.discussionUrl}}[<a target="_blank" class='discussion' href="{{venue.discussionUrl}}">Discussion Thread</a>]{{/if}}
<br>
