<a href="#" class='user_photoedit user_itemcount span6' data-userid="{{id}}">Review {{num photos.count}} photo(s) by {{firstName}} {{lastName}}</a>
<a href="#" class='user_tipedit user_itemcount span6' data-userid="{{id}}">Review {{num tips.count}} tip(s) by {{firstName}} {{lastName}}</a>
