<!DOCTYPE html>
<html>
<head>
  <!--[if lt IE 9]>
  <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <title>Foursweep</title>
  <link rel="icon" href="https://foursquare.com/favicon.ico" type="image/x-icon"/>
  <link rel="shortcut icon" href="https://foursquare.com/favicon.ico" type="image/x-icon"/>
  <link rel="apple-touch-icon-precomposed" href="https://foursquare.com/img/metaIcons/touch-icon-72.png" sizes="72x72"/>
  <link rel="apple-touch-icon-precomposed" href="https://foursquare.com/img/metaIcons/touch-icon-76.png" sizes="76x76"/>
  <link rel="apple-touch-icon-precomposed" href="https://foursquare.com/img/metaIcons/touch-icon-120.png" sizes="120x120"/>
  <link rel="apple-touch-icon-precomposed" href="https://foursquare.com/img/metaIcons/touch-icon-144.png" sizes="144x144"/>
  <link rel="apple-touch-icon-precomposed" href="https://foursquare.com/img/metaIcons/touch-icon-152.png" sizes="152x152"/>
  <link rel="apple-touch-icon-precomposed" href="https://foursquare.com/img/metaIcons/touch-icon-167.png" sizes="167x167"/>
  <link rel="apple-touch-icon-precomposed" href="https://foursquare.com/img/metaIcons/touch-icon-180.png" sizes="180x180"/>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= yield(:javascripts) %>

  <%= yield(:csses) %>

  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
